{% load static %}
<html>
    <head>
        <title>Beauty App</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'css/jm_mn_app.css' %}">
        <script src="{% static 'js/main.js' %}"></script>


    </head>
    <body>
    <div class="page-header" >

        <h1 onmouseover="mOver(this)" onmouseout="mOut(this)" ><a href="/">Life is beauty</a></h1>
</div>
    <div class="extra-header" >

        <h3>Dodaj klienta <a href="{% url 'customer_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        Dodaj usługę <a href="{% url 'service_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        Dodaj zdarzenie <a href="{% url 'request_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></h3>
        <h3><a href="{% url 'export_customers_csv' %}" class="btn btn-secondary">Download customers data</a>
        <a href="{% url 'export_services_csv' %}" class="btn btn-secondary">Download services data</a>
        <a href="{% url 'export_requests_csv' %}" class="btn btn-secondary">Download requests data</a></h3>

    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>




</body>
</html>