{% extends 'jm_mn_app/base.html' %}

{% block content %}

        <div class="req">
            <h3>Dane szczegółowe klienta: <a class="btn btn-default" href="{% url 'customer_edit' pk=req.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h3>
            <p> Imię i nazwisko: {{ req.name }}  </p>
            <p>Numer telefonu: {{ req.phone }}</p>
            <p>E-mail: {{ req.mail }}</p>
            {% if req.image %}
                <img src="{{req.image.url}}">
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
        </div>


{% endblock %}